*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'M PLUS 1p', sans-serif;
}

/* INDEX */

/* header */
.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    padding: 1rem 5rem;
    border-bottom: 1px solid rgb(108, 51, 161);
    height: 100px;
    top: 0;
    margin-bottom: 3rem;
    z-index: 1;
}


.main-h1{
    justify-content: center;
    text-align: center;
}

.h2-redes{
    margin: 3em;
}
footer{
    justify-content: center;
    text-align: center;
    margin: 3rem;
}


.img-fluid{
    justify-content: center;
    text-align: center;
    margin: 3rem;   
}
